@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: theme('colors.brand.50');
  color: theme('colors.brand.900');
}

.font-mono-nums {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
